<div class='container'>
<%= form_for @instruction do |f| %>
    <div class="input-group my-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Header</span>
        </div>
        <%= f.text_field :header, class: 'form-control' %>
    </div>
    <%= f.cktext_area :body %>
    <%= f.submit "Submit", class: "btn btn-primary my-4" %>
<% end %>