<script>
    $('.cancel').on('click', function(){
        $('#new-topic').empty();
    });
</script>

<div class="new-topic-form">
    <%= form_for(@topic, remote: true) do |f| %>
    <%= f.text_field :title, placeholder: "Topic" %>
    <%= f.submit "Submit" %>
    <% end %>
</div>

<button class="cancel">Cancel</button>
