<%= form_for(@topic, remote: true) do |f| %>
<%= f.text_field :title, placeholder: "Topic" %>
<div class="row">
    <%= f.submit "Submit", class: 'btn btn-primary btn-sm mx-3 mt-1' %>
    <% end %>
</div>