<h4>Hotlinks</h4>
<div class="hotlink-area">
    <% if can_edit? %>
        <%= link_to "[new]", new_hotlink_path, remote: true, :class => "sidebar-links" %>
    <% end %>
    <% if hotlinks.nil? %>
        <p>Currently there are no hotlinks</p>
    <% else %>
            <% hotlinks.each do |link| %>
                <p>
                    <%= link_to link.title, link.url, :class => "sidebar-links"%>
                    <%= link_to '[X]', link, remote: true, method: :delete, data: { confirm: "Are you sure? This cannot be undone."}, :class => "sidebar-links" if current_user && current_user.editor? %>
                </p>
            <% end %>
    <% end %>
</div>
<p>----</p>
<div id="send-email">
    <button type="button" onclick="window.open('<%= j (open_email_url) %>', '_blank', 'location=yes,height=650,width=520,scrollbars=no,status=no');">
        Send Email
    </button>
    <button type="button">Send Text Button To Come</button>
</div>
<div id="new-hotlink"></div>