<%= link_to '[new topic]', new_topic_path, class: "edit-buttons", remote: true  if can_edit? %>
<% if can_edit? %>
    <script>
        $('.sortable').railsSortable();
    </script>
<% end %>
<div id="new-topic"></div>
<% if @topics.all.any? %>
    <ul class="sortable">
        <% @topics.each do |topic| %>
            <%= render partial: 'each_topic', locals: { topic: topic} %>
        <% end %>
    </ul>
<% else %>
    <h3>No Topics Yet</h3>
<% end %>
<div id="topic-errors"></div>
