<% @topics.each do |topic| %>
    <script>
        $('.section-menu').hide();
        $('#<%= j (topic.css_id) %>').on('click', function() {
            $(this).next().next().next().slideToggle();
        });
    </script>
<% end %>

<%= link_to '[new topic]', new_topic_path, class: "edit-buttons", remote: true  if can_edit? %>
<% if can_edit? %>
    <script>
        $('.sortable').railsSortable();
    </script>
<% end %>
<div id="new-topic"></div>
<% if @topics.all.any? %>
    <div class="sortable">
        <% @topics.each do |topic| %>
            <%= render partial: 'topics/each_topic', locals: { topic: topic } %>
        <% end %>
    </div>
<% else %>
    <h3>No Topics Yet</h3>
<% end %>
<div id="topic-errors"></div>
