<div id="topics-page">
    <div id="topics-sidebar">
        <%= render 'sidebar' %>
    </div>
    <div id="border-down"></div>
    <div id="topics-area">
        <%= render partial: 'area', locals: { topic: @selected } %>
    </div>
    <div id="topics-hotlinks">
        <%= render partial: 'hotlinks', locals: {hotlinks: @hotlinks} %>
    </div>
</div>