<div id="topics-page">
    <div id="topics-sidebar">
        <%= render 'sidebar' %>
    </div>
    <div id="topics-area">
        <%= render partial: 'area', locals: { topic: @selected } %>
    </div>
    <div id="topics-hotlinks">

    </div>
</div>