<div class='container card'>
    <h1>List of All Users</h1>

    <table class="table table-striped">
        <thead class='thead-light'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Permissions</th>
                <th></th>
            </tr>
        </thead>
        <% @users.each do |u| %>
            <tr scope="row">
                <td><%= link_to "#{u.first_name} #{u.last_name}", u, :class => "linkage"%></td>
                <td><%= u.email %></td>
                <td><%= u.role.capitalize %></td>
                <td><%= link_to 'Details', user_path(u), :class => "btns" %></td>                    
            </tr>
        <% end %>
    </table>
</div>