
<br>
<%= render "form" %>
<div class="permissions">
  <h1>
    Notice
  </h1>
  <p>
      You do not need to create a Login to use or view this script. This feature is 
      only for editors and admins. 
  </p>    
</div>