
<br>
<%= render "form" %>
<div class="permissions">
  <h1>
    Notice
  </h1>
  <p>
    You must have permission to create a new account. If you are not sure if you can create an account or not, please contact an administarator. Enter your varification in the form to your left along with your signup information. 
  </p>    
</div>