<div class="nested-fields">
    <div class="field">
        <br>
        <% if Section.all.any? %>
            <h5>Internal Links</h5>
            <%= f.select :option do %>
                <% Section.all.each do |section| %>
                    <%= content_tag(:option, section.title) %>
                <% end %>
            <% end %> 
        <% else %>
            <h5>There is currently no other sections to link internally</h5>
        <% end %>
    </div>
    <br>
    <%= link_to_remove_association "Remove Link", f %>
</div>