<div id="sidebar-menu">
    <h4>Navigation Menu</h4>
    <ul>
        <% Section.order(:id).each do |section| %>
            <li>
                <%= link_to section.title, fetch_sections_path(:section_id => section.id), :remote => true, :class => "sidebar-links" %>
            </li>        
        <% end %>
    </ul>
</div>