<div class="nested-fields">
    <div class="field">
        <p>Sub-Section Title</p>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.cktext_area :body %>
    </div>
    <%= link_to_remove_association "Remove Sub-Section", f %>
</div>