<br />
<h1 class="script-h1">Immigration Rights Hotline Script</h1>
<br />
<% if current_user && current_user.editor? %>
    <div class="new-section-btn">
        <%= link_to 'New Section', new_section_path, :remote => true, :class => 'btns' %>
    </div>
<% end %>
<div id="border-effect">
    <div class="grid">
        <%= render 'sidebar_menu' %>
        <div id="script-area">
            <%= render partial: "script_area", locals: { section: @selected } %>
        </div>
        <div id="hotlinks">
            <%= render partial: "hotlinks", locals: {hotlinks: Hotlink.all}%>
        </div>
    </div>
</div>
