<div class="nested-fields ref-sub">
    <div class="field">
        <h5>Referral SubSection Title</h5>
        <%= f.text_field :title %><br>
    </div>
    <div class="field">
        <%= f.cktext_area :body %>
    </div><br>
    <%= link_to_remove_association "Remove Referral Subsection", f %><br>
</div>