<div class="spacing">
</div>
<article class="does-not-exist">
    <h1>Woah, there!</h1>
    <p>We are sorry to inform you the page you are looking for does not exist yet. Try back again later.</p>
</article>