<div class="spacing">
</div>
<article>
    <div class="article-title">
        <h1> FAQ for Immigrant Survivors of Harvey</h1>
        <p class="subtitle">This guide is not intended for the public, but to be a resource for organizations who are trying to answer questions from their clients as well as people answering questions on the Immigrant Rights Hotline.</p>
    </div>
    <br><br>
    <p>For volunteers: 
        <br>
        Thank you so much much volunteering to answer questions from Harvey survivors. This guide has some frequently asked questions. Please feel free to add comments if you hear additional questions or have suggestions to add to the answer sections. 
        <br><br>
        If you don’t know an answer: “I’m a volunteer and while I don’t know, we are updating our information regularly, so please call back/come back later” or conduct a Google search to help find the right info. 
        <br><br>
        We want the immigrant community to know that they have power to make change.  If you get the impression that an individual wants to get more involved, encourage them to organize with other immigrants. If they fill out <%= link_to "this link,", 'http://bit.ly/HouHotlineQ' %> they’ll be contacted by an immigrant rights organizer.
    </p>
</article>
<div class="spacing">
</div>
<article>
    <div class="article-title">
        <h2>QUESTIONS</h2>
    <div>
    
    <h3>Harvey: Emergency Relief Access for Immigrants</h3>

    <div class="qaa-box">
            <h4>Is it safe for me to go to a shelter/food bank/evacuation site if I’m undocumented?</h4>
                <p class="answers-box">
                    YES. Immigration and Customs Enforcement (ICE) and Customs and Border Protection (CBP) have specifically said that they are NOT conducting immigration enforcement at evacuation sites, shelters, or food banks. In the rare instance where local law enforcement informs ICE of a serious criminal alien at a relief site that presents a public safety threat, ICE will make a determination on a case-by-case basis about the appropriate enforcement actions. 
                    <br><br>
                    Most shelters are managed by local communities, the Red Cross, and other voluntary agencies like BakerRipley (who have a humanitarian mission to provide emergency relief services and are running the shelter at NRG). <u>The Red Cross and City of Houston shelters will not ask people to show any form of identification in order to stay in their shelters.</u> Mayor Sylvester Turner has issued a clear statement assuring Houstonians that immigration status is not a barrier to any emergency shelter. <b>We encourage anyone in need of shelter to seek it, regardless of immigration status.</b>
                    <br><br>
                    <%= link_to 'Click to help a caller find a shelter near them', 'http://bit.ly/houstonshelters' %>
                    <br><br>
                    If the caller has been denied access to emergency shelter due to status please help them fill out <% link_to 'THIS form.', 'https://action.aclu.org/secure/texas-legal-intake' %>
                    <br><br>
                    Ask if they would be willing to be <%= link_to 'contacted by an organizer.', 'http://bit.ly/HouHotlineQ' %>
                </p>
    </div>
        <h4>What is the process for working with FEMA? What can I expect?</h4>
        <h4>Where can I get legal assistance with emergency relief paperwork (e.g. FEMA)?</h4>
        <h4>Am I eligible for FEMA emergency relief? </h4>
        <h4>Are undocumented immigrants negatively impacted by asking for FEMA relief?</h4>
        <h4>Is ICE conducting enforcement efforts (raids/arrests) as a part of Harvey relief? </h4>
        <h4>Will accepting disaster relief affect my application for permanent residence or for a visa? </h4>
        <h4>I am a foreign student whose financial support has been affected by disaster. Can I get help? </h4>
        <h4>I have a loved one detained, I’m concerned for their safety during the hurricane and I have lost communication. How can I find out if they’ve been transferred or deported?</h4>

    <h3>Harvey: General questions</h3>
        <h4>How can I find out about my car or get it towed?</h4>
        <h4>I cannot work due to the Hurricane and need unemployment - what do I do?</h4>

    <h3>Immigration Courts and Documents</h3>
        <h4>What can I do if I’ve lost all of my paperwork?</h4>
        <h4>When will the immigration courts / USCIS/ ICE reopen?</h4>
        <h4>What do I do if I missed an appointment or deadline?</h4>
        <h4>How can I find out if my appointment will be rescheduled?</h4>
        <h4>What about other state court closures?</h4>
        <h4>I had to move. How do I change my address with immigration?</h4>
        <h4>I have an ankle monitor but have not been able to charge it - what should I do?</h4>

    <h3>Policy and Legal Updates (SB4 / DACA)</h3>
        <h4>What is happening with SB4?</h4>
        <h4>What is happening with DACA?</h4>

----------------------------------------------------------------------------


ANSWERS:

Is it safe for me to go to a shelter/food bank/evacuation site if I’m undocumented?


								Back to Questions


What is the process for working with FEMA? What can I expect? 

We suggest you contact an organization, listed below, to get assistance with the FEMA process. We have information relating to immigration-related questions arising from the flood, but we are not disaster relief specialists [See below].

This is a really helpful guide to send to people for these kinds of questions (note that this guide is English only): http://sbpusa.org/blog/hurricane-harvey-update-8-25


								Back to Questions


Where can I get legal assistance with emergency relief paperwork (e.g. FEMA)?

The Texas State Bar is helping connect survivors with attorneys. Call (800) 504-7030. This number will send you to an attorney based on where you live, as it is a Statewide number. It is available in English, Spanish, and Vietnamese. They can help answer questions about replacing lost documents, answering insurance questions, helping with landlord-tenant problems, and handling consumer protection concerns. If you leave a message, your call will be returned. 
Houston Volunteer Lawyers (HVL) has free in-person legal clinics where you can sit face-to-face with an attorney for free legal advice. Call (713) 228-0732 for clinic dates.
Legal advice clinics are held at various locations. We suggest that you arrive early to secure your spot. The clinics are open to anyone needing legal advice. Event calendar: https://www.makejusticehappen.org/events 
Boat People SOS (located in Chinatown) is providing assistance with FEMA applications and are experts in immigration and family law: 281-530-6888
Catholic Charities (located in Midtown) is also providing assistance with FEMA applications. Call their hotline (713.874.6664) for more information.

								Back to Questions


What can I do if I’ve lost all of my paperwork?

You should try to get new copies of your documents as soon as possible. 

To request new immigration-related documents
For documents issued by USCIS, they offer expedited replacement of lost or damaged immigration or travel documents (like green card) on a case-by-case basis. Call 800-375-5283 and explain how the impact of Hurricane Harvey created a need for the requested relief.  
Sometimes it is necessary to submit a written request (FOIA) to obtain copies of immigration documents. Many immigration organizations are able to assist you with FOIA requests. If you need assistance to replace your green card, work permit, or citizenship/naturalization certificate, Houston Immigration Legal Services Collaborative member organizations can help you apply for replacements. Go to:  www.houstonimmigration.org/locator    
In order to obtain a replacement you will have to complete an immigration form and pay a fee. Some people are eligible for fee waivers with USCIS so you may not have to pay. The legal organizations can assess whether you qualify with a fee waiver and can help you apply for one.

For Texas and U.S. government documents
To get a copy of your birth certificates, marriage license, vehicle titles, driver’s licenses, social security cards, medicaid, IRS documents, and others, go to 
English: https://texaslawhelp.org/article/replacing-lost-documents 
Spanish:  https://texaslawhelp.org/es/article/sustitucion-de-documentos-perdidos 

For Foreign Government-issued Documents
Contact your consulate → volunteer: offer to google search to get the right number to call.
If you are an asylum seeker, do NOT contact your government - contact an attorney: 
Refer to HILSC website: www.houstonimmigration.org/locator, or 
American Immigration Lawyers Assoc:  www.AILAlawyer.org to hire a private attorney.  

								Back to Questions

When will the immigration courts / USCIS/ ICE reopen?

Houston Immigration Courts (both downtown and detained courts) are now open. If your court date was scheduled during the closures, it will be rescheduled. To find out when your court date will be rescheduled, call 1-800-898-7180 (please note it may take 1-2 weeks to update your case information).

If you’ve already filed your asylum application, it’s likely the 1-800 number will not release information about your case. Call the court directly or go in person (1801 Smith St, 9th floor or 1919 Smith Street, 14th floor,  Houston, TX 77002). The phone number for the court is (713) 718-3870. Select option to speak with receptionist. If you need to speak with the court directly, try to have an English speaking friend or family member help since the court often does not have a spanish speaker answering the phone.

U.S. Citizenship and Immigration Services are now open.  

Houston Field Office:
Interviews and other appointments: USCIS will automatically reschedule as soon as possible - for more, call 800-375-5283.
InfoPASS appointments: client must reschedule themselves. 
Houston Application Support Centers:
Any missed ASC appointments between Aug. 25 and Sept. 22 will be automatically rescheduled (notice mailed out 4 weeks from original date OR call 800-375-5283).
USCIS Alerts Those Affected by Hurricane Harvey to Available Immigration Services

Houston Asylum Office is now open. All interviews that were scheduled during the closures will be rescheduled.
ICE offices at 126 Northpoint are now open.

								Back to Questions



What do I do if I missed an appointment or deadline?

Houston Immigration Court 
If you were scheduled while the court was closed, call 1-800-898-7180 (please note it may take 1-2 weeks to update your case information).
Tahirih Justice Center and Human Rights First will be at the Houston Immigration Court at 1801 Smith St (formerly 600 Jefferson St.) every Friday from 8:30am-11:30pm to help individuals with change of address forms, legal advice, and motion to re-open for in absentia orders.  
Catholic Charities will also be available to help with motions to reopen. Call: (713) 526-4611.

U.S Citizenship and Immigration Services (USCIS)
If you missed your appointment, biometrics, or were unable to respond to some USCIS deadline, USCIS is offering assistance on a case-by-case basis  you can call the National Customer Service Center at 800-375-5283 (TDD for deaf: 800-767-1833). When making a request, please explain how the impact of Hurricane Harvey created a need for the requested relief. 
If you have an attorney, contact your counsel. To find a free- or low-cost attorney, go to www.houstonimmigration.org/locator  

Immigration and Customs Enforcement (ICE)
If you have immigration check-ins with ICE, you will need to call ICE to see when they will re-open at 866-347-2423.  

Biometrics

								Back to Questions

How can I find out if my appointment will be rescheduled?

Houston Immigration Court 
The Court has an automated free number: 1-800-898-7180, which you should call to see when your court date will be rescheduled. Please note it may take 1-2 weeks to update your case information, so please call the number regularly to ensure you do not miss your new court date. 

USCIS appointments, such as InfoPASS, Fingerprinting, and appointments: 
Call the National Customer Service Center at 800-375-5283 (TDD for deaf: 800-767-1833). When making a request, please explain how the impact of Hurricane Harvey created a need for the requested relief. 
If you have an attorney, contact your counsel. To find a free- or low-cost attorney, go to www.houstonimmigration.org/locator  

What about other state court closures?

There is emergency suspension of court proceedings
Multiple Texas courts and clerks' offices are closed due to Hurricane Harvey. Visit the Court Closures & Delays page on the Office of Court Administration website for details.

								Back to Questions

I had to move. How do I change my address with immigration? 

USCIS 
If you are a Legal Permanent Resident, you should update your address with USCIS within 10 days of moving. You can change your address using this link: https://www.uscis.gov/addresschange OR by phone at 1-800-375-5283
If you have any application, petition, or paperwork in process with USCIS, you should update your address with USCIS within 10 days of moving. You can change your address by using this link https://www.uscis.gov/addresschange OR by phone at 1-800-375-5283


Immigration Court (EOIR) 
If you have a case before immigration court or the BIA, you need to change your address with the Immigration Court, EOIR. Everyone in the family, including children, must complete a change of address. 
You must make this change in writing using this form: https://www.justice.gov/sites/default/files/pages/attachments/2015/07/24/eoir33ichouston.pdf 
Make sure the forms are signed and dated! 
Mail to: Immigration Court, 600 Jefferson Street, Suite 900. Houston, TX 77002
Also mail a copy to: ICE-OCC, 126 Northpoint Dr., Room 2020. Houston TX 77060
Keep a copy for your own records
If you need assistance, go to the Immigration Court on Fridays from 8-noon to get free assistance from Human Rights First and Tahirih Justice Center. 

ICE: Immigration and Customs Enforcement 
If you have immigration check-ins with ICE or another entity, you will need to update your address. Call ICE at 866-347-2423 
If you were released on a bond, you will need to contact ICE to update your address. The person who paid the bond must also update their address if they move - this will help them get their money back at the end of the court process. https://www.ice.gov/sites/default/files/documents/Document/2015/i333.pdf 


								Back to Questions

Who is a “qualified immigrant” for federal FEMA emergency relief purposes? 

You are eligible (but don’t automatically qualify) for FEMA cash assistance if you are a: 
U.S. citizens;
Legal permanent residents (green card holders);
Applicants who have been granted asylum;
Individuals who have been admitted as refugees;
Individuals who have been granted humanitarian parole for a period of 1 year;
Individuals whose deportation has been withheld due to status as a political refugee;
Individuals who were Cuban or Haitian entrants under the Refugee Education Assistance Act of 1980; and
Individuals who have been victims of domestic violence and currently have a pending petition for relief.
If you are not sure whether you fall into one of these categories, please contact one of the immigration legal service non-profit organizations at www.houstonimmigration.org/locator  

U.S. citizen children: If you have a U.S. Citizen child under age 18, you can apply for assistance from FEMA on their behalf. You will need your child’s U.S. birth certificate, social security card, name, and age. FEMA will not ask for your immigration status, only the status of your child. The child’s name, age, and social security number are required for the application.  FEMA can assist with obtaining a social security number. 

Only one applicant per household required: Only one person in your household needs to apply for assistance. Everyone else in the household will qualify based on the application of that one person. FEMA will not ask for the immigration status of other household members, but note that FEMA is an agency within the Department of Homeland Security (see below, “release of information). 

Sworn Statement: The applicant must sign a sworn statement called a Declaration and Release stating that the applicant (or eligible minor child) is a qualified alien. The Release authorizes FEMA to verify the immigration status of the applicant or minor child.  Please note that it is important to always provide truthful information on all assistance applications. Do NOT claim to be a U.S. Citizen if you are not one, as this can negatively impact your immigration case. 

Release of Information to Department of Homeland Security: FEMA is an agency under the Department of Homeland Security. It is reasonable for people who are undocumented to be fearful of applying on behalf of citizen children, as it does require them to fill out a government form with their own name. Clients should be explicitly advised of the risk. 
Seeking assistance from a non-profit organization is always a safer option for people without legal status. Here are a few good options (THIS IS NOT AN EXHAUSTIVE LIST) for direct assistance:
Catholic Charities (Downtown): 713.874.6664
Memorial Assistance Ministries (Spring Branch):  713-468-4516
Living Hope Wheelchair Association: 281-764-6251
ECHOS (southwest): 713 270-0369 
BakerRipley (multiple sites): 713-273-3701
Red Cross (multiple sites): NRG stadium; Toyota Center; GRB convention center
To apply for FEMA: www.diasterassistasnce.gov or call 1-800-621-FEMA 



Who is Not Eligible for FEMA assistance? 
You are not eligible if you:
Only have a non-immigrant visa, such as work, student, or travel Visa. 
you are receiving Temporary Protected Status (TPS), or 
Deferred Action for Childhood Arrivals (DACA). 
Lawful presence in the US and a social security number alone will NOT make you eligible for FEMA cash assistance. You must also meet all other FEMA eligibility requirements. Having a Social Security Number does not automatically mean that you are a “qualified alien.” Temporary Social Security numbers based on a pending asylum petitions are not accepted for FEMA qualifying alien status.
If you are undocumented and ineligible for FEMA, local organizations are working to help families individual. You can fill out this online form for assistance: http://houstoninmotion.org/flood-form/ 
Spanish: http://houstoninmotion.org/flood-form-es/

IMPORTANT! PUBLIC CHARGE: 
Accepting emergency disaster relief will not affect your ability to apply for permanent residence (green card) or citizenship. Disaster relief is not considered a public benefit that would make you a public charge to the U.S. government. 


								Back to Questions


Will undocumented immigrants be negatively impacted by asking for FEMA relief? 

FEMA shares personal information in the application with the Department of Homeland Security. We cannot say for certain that there will be no immigration repercussions with this under the current administration. 
If the Department of Homeland Security (DHS) believes that a non-citizen has provided untruthful information to secure benefits from FEMA, such a determination may affect your immigration case. 
DHS might allege that you have engaged in fraud if you receive benefits based on inaccurate or incomplete information in a FEMA application. It is important to provide accurate information and to declare all sources of family income, all individuals living in a household, and to ensure all information in FEMA applications is accurate and updated after benefits are obtained. 
Note: it is NOT fraud to apply if at least ONE member of your household is eligible - you must apply in the eligible person’s name. 
Obtaining FEMA benefits based on accurate, complete information will not lead to a finding that you or your family members are a Public Charge for purposes of obtaining LPR status (green card) or citizenship. 

								Back to Questions

Is ICE conducting enforcement efforts (raids/arrests) as a part of Harvey relief? 

During Hurricane Harvey relief efforts, U.S. Immigration and Customs Enforcement (ICE) is not conducting immigration enforcement operations in the affected area.
However: There are disturbing reports that people impersonating Homeland Security Investigations (HSI) special agents are knocking on doors in the Houston area telling residents to evacuate -- presumably so these imposters can rob the empty homes. 
Real HSI officials wear badges that are labeled "special agent," which members of the public can ask to see and verify. 
ICE officers with Enforcement and Removal Operations (ERO) also wear badges labeled with ERO Officer. 
They also carry credentials with their name and organization.
Members of the public who receive such visitors should ask to see these properly labeled badges, and their credentials. Please also note that any real HSI agents would be conducting hurricane relief operations with other local law enforcement agencies.
To report suspicious activity or individuals you believe are impersonating ICE officials, members of the public should call 911 if you feel endangered. If you are interested in working with an organizer from United We Dream to work with the community to end these practices, please call (713) 863-1422. 

Back to Questions


I have an ankle monitor but have not been able to charge it - what should I do?

Please call Tahirih Justice Center for case-by-case guidance at 713-496-0100. Tahirih’s phones are open from 9 to 5:30 pm Monday through Friday. ICE has reported that replacement parts or units will be given at no cost to individuals.


-------
If a client/individual has an ankle monitor that they haven’t been able to charge or that has been damaged in any way due to Hurricane Harvey and YOU are helping them with the entire process, then do the following. If you are merely referring to assistance, refer to Tahirih above.
 
The client/individual must call their docket officer or case manager to ensure that they’re not receiving a violation. They need to be sure to mention their name and A-number when they call. If they are unable to reach their docket officer, they should leave a voicemail explaining the situation and keep calling daily until they receive a response.
If the client/individual does not know their docket officer’s telephone number, get 1) the client/individual’s name, 2) A-number, and 3) who they report to. Then follow the instructions below:
If they report to the ICE Houston Field Office, see below for their docket officer contact information – call the officer yourself and leave them a message about the client/individual’s ankle monitor issue, being sure to include the client/individual’s name and A-number. If the last 3 digits of alien number correspond to:
000-249, then contact Officer Willy Moore at 281-774-4755
250-499, then contact Officer Cinadezilla at 281-774-4800
500-749, then contact Officer Hamilton at 281-774-4754
750-999, then contact Officer Bravo at 281-774-5803
If you are still having difficulty getting in touch with their officer, you can contact the Director of the ATD program in Houston: Tracy Datten, 281-774-4642; tracy.j.batten@ice.dhs.gov. Do this ONLY if you cannot get through to anyone for a long while.
If they report to ISAP/BI-Incorporated, send their names and A-number(s) to Fred Hamdun at fred.hamdun@bi.com; Office: 303-218-1245; Cell: 213-400-6235. Preferably send the information over in batches. He/BI will look up the individual cases, get in touch with their ATD officers, and assist them in getting replacement parts or units. Hamdun will also be flagging these issues with Eric Carbono (sic) at ICE who is the Chief of Affairs in this ATD arena.
Some other contact information for individuals at the Houston ISAP/BI-Incorporated offices in case Hamdun is tied up (though he oversees all of this):
Stephanie Ramirez, Houston Manager, 832-597-8357.
Amber McMann (bilingual), Texas Regional Manager, 602-526-0092.
Be sure to follow up with Hamdun until you get a confirmation that the client/individual’s information was passed along.
If they’re new to the program and have never reported before, use the contact information for BI above.
If you have a very urgent case regarding these ankle monitors – ensure that you have the individual’s name and A-number, and contact Fred Hamdun (Office: 303-218-1245; Cell: 213-400-6235; fred.hamdun@bi.com) and/or Tracy Batten (281-774-4642; tracy.j.batten@ice.dhs.gov).
 The client/individual should go in person to the nearest ICE Field Office or ISAP/BI-Incorporated offices and report what happened and get new equipment. If they are unable to go in person yet due to transportation issues/flooding, then they should wait and be sure that their report of the issue has been recorded via a telephone call as described above. Then the client/individual should head to one of the offices in person when they can:
 
ICE Field Office:
Houston Field Office
126 Northpoint Drive
Houston, TX, 77060
Phone: 281-774-4816 (NOTE THAT THEY HAVE NOT BEEN ANSWERING)
Hours: unclear
 
ISAP/BI-Incorporated:
North Houston Office
450 North Sam Houston Pkwy E, Houston, TX 77060
Phone: 281-448-0253
Hours: c. 8:30am-4:30pm, M-F; call to ask for an exception
 
Southwest Houston Office
6401 SW Freeway, Suite 150, Houston TX 77074
Hours: c. 8:00am-4:00pm, M-F
Phone: 713-774-0093 (HAVING ISSUES WITH THEIR PHONES – IT’S A NEW OFFICE)
 Note that ISAP/BI has delayed their appointments for a couple of weeks due to the storm and has reportedly said people should not be too worried about compliance right now. However, ICE has said violations will still be given out and individuals should be sure to stay in compliance by following the above instructions. 

Back to Questions

Will accepting disaster relief affect my application for permanent residence or for a visa?

NO. USCIS does not consider acceptance of emergency disaster relief to be public assistance that would affect the eligibility of you or your household members to become lawful permanent residents (green card) or to get a visa. See http://www.uscis.gov/news/fact-sheets/public-charge-fact-sheet. 
Do keep in mind that you should never claim to be a United States Citizen if you are not a citizen, and you must always provide accurate and truthful information on any assistance applications. 

Back to Questions

I am a foreign student whose financial support has been affected by disaster. Can I get help? 

You cannot qualify for FEMA cash assistance, but you might qualify for a Student Employment Authorization. If a disaster has affected your ability to support yourself, you may need to work off-campus. 
The disaster may occur in the United States and prevent you from working on-campus or the disaster may occur overseas and affect your economic support. If you can show that you are from an affected country and you have been recommended for employment by the Designated School Official (DSO), you may be to file Form I-765, Application for Employment Authorization. 
More at http://www.uscis.gov/humanitarian/special-situations. 

Back to Questions

I have a loved one detained, I’m concerned for their safety during the hurricane and I have lost communication. How can I find out if they’ve been transferred or deported?  

ICE may have transferred individuals from one detention center to another for their safety during the storm.
ICE maintains an online locator system.  Unfortunately it is not updated in real time and will take a few days or a week to be updated.  https://locator.ice.gov/
The fastest way to find someone in detention is to call the detention facility.  Basic information such as name, country of birth, and birthdate are often asked.  
Houston Contract Detention Facility (aka Houston Processing Center (HPC) or CCA): 281-449-1481 (http://www.cca.com/facilities/houston-processing-center)
Joe Corley Detention Facility (aka Conroe or GEO): (936) 521-4000 / https://www.geogroup.com/FacilityDetail/FacilityID/56
IAH Secure Adult Detention Facility (aka Livingston or Polk): (936) 967-1700 / https://www.ice.gov/detention-facility/iah-secure-adult-detention-facility#wcm-survey-target-id
The Immigration Court has a number that can be called to find out the status of someone’s case.  You do need the individual’s A #.  1-800-898-7180. 
Back to Questions

How can I find out about my car or get it towed? 

To find out if your car was towed and where it is located, call 713-308-9550. 
To get your car towed, call the City at 311



I cannot work due to the Hurricane and need unemployment - what do I do? 

800-939-6631 (Texas Workforce Commission)


What is happening with SB4?

On August 30, 2017, a federal court granted an injunction blocking some of the key provisions of SB4 while the case moves through the courts. As a result of this ruling: 
Texas cities and counties can direct their officers not to serve in the role of immigration officers; 
 Local jails are not required to hold individuals based only on a request by ICE; 
Local officials and employees can criticize SB4 and speak in favor of changes in immigration enforcement without fear of punishment under SB4 
Although a local police officer can ask an individual about immigration status, the individual does not have to answer, the police officer cannot arrest the individual for being undocumented, and the police officer cannot serve as an immigration officer. 

Under the injunction can police and City officials ask me about my immigration status? 
Even with the court’s decision this week, SB4 says that law enforcement officers can ask for your status while investigating a crime. This can include any lawful stop, including traffic stops. However, it is important to know that you are NOT required to answer that question, you can simply say “I am not going to answer that question.” The police cannot arrest you for NOT answering the question. A law enforcement officer can ask you to identify yourself. In this situation, you are only required to tell the office your (1) name, (2) DOB, and (3) address. 
You can order a wallet-sized card that you can show an officer that explains your right to remain silent to them in English. Order a card for free at: https://www.ilrc.org/red-cards

Organize
If you want to learn more about how you can work with others to continue to fight SB4 and are interested in talking with an organizer, fill out this form: 
Organizing Form 

								Back to Questions

What is happening with DACA?

President Trump announced on September 5 that the DACA program will end:
No initial requests filed on or after today will be acted on;
Those with DACA will be allowed to maintain DACA until their permits expire 
Those whose work permits (EADs) expire before March 5, 2018 will be given the opportunity to apply for a two-year renewal. 
Please note that the renewal application must be received by USCIS by October 5, 2017. This means you must send your application in the mail a few days before this deadline. 
There are many HILSC partners hosting free clinics and consultation (see below) 


For immediate assistance in re-applying: 
Visit houstonimmigration.org/events for the most up-to-date resources
You can also offer to send the caller these materials via google text:
One-pager on upcoming DACA Renewal Clinics (Spanish) (last updated 9/12/17)
One-pager on upcoming DACA Renewal Clinics (English) (last updated 9/12/17)
When you visit with an attorney, please bring the following with you: 
Current DACA work permit
Current mailing address where you can safely receive mail for next 6 months
Previous DACA approval notices (if available)
Copy of previous DACA application (if available)
If you traveled, proof of advance parole and all travel-related documents (such as passport)
If you have EVER been arrested, you MUST bring copy of arrest/court records
2 passport photos
$495 money order

Organize
Are you open to speaking to other DACAmented people about how to get involved? Organizing Form 
UWD will be sending text alerts if there is a DACA announcement. If you would like to get up-to-date information , text “DACACALL” to 877877 if would like “LLAMADA” to 877877.