<br />
<br />
<h1>Immigration Legal Services Hotline Script</h1>
<p>
    On this site you can access the Immigration Rights hotline script.
</p>
<p>
    You will need a login to view the script. 
</p>
<p>
    To edit the script you will need editor permissions. Please contact a site admin 
    to recieve permissions. 
</p>

