<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Houston Immigration Legal Services Collaborative</h1>
            <p>
                This is a private site for the volunteers of the HILSC to easily access information. 
                As such, the inforamtion on this site is private, and requires a login to access. 
                Please login using the button in the top-right corner of the screen. 
                If you do not have a login please contact an admin.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>