<br><br>
<h1>Home</h1>
<p>Home Screen Text</p>
<br>
<p>Welcome to the hotline script</p>
<p>Most of this content will be filled in later</p>
<p>In the mean time, you need a login to access the script</p>
<p>Only Editors and Admins can edit the site</p>
<p>Editors can grant edit permission, and admins can grant admin permission. No one can grant a higher
    level of access than they currently have. 
</p>