<div class="container">
    <div class="row">
        <div class="card-body">
            <h1 class="card-title">Permission Error</h1>
            <p class="card-text">You do not have permission to view this page. Please login to proceed.</p>
        </div>
    </div>
</div>