<div class="container">
    <div class="row">
        <div class='col-4'></div>
        <h1 class="text-center col-4">Privacy Policy</h1>
        <div class='col-4'></div>
    </div>
    <div class="row">
        <div class='col-md-1'></div>
        <div class='col-md-10 col-xs-12'>
            <p class="text-justify">
            <p class="text-justify">
                This privacy notice discloses the privacy practices for http://www.houimmihotline.org/ as run by the Houston Immigration Legal Services Collaborative ('HILSC'). 
                This privacy notice applies solely to information collected by this website. It will notify you of the following:
            </p>
            <ol>
                <li>
                    What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.
                </li>
                <li>
                    What choices are available to you regarding the use of your data.
                </li>
                <li>
                    The security procedures in place to protect the misuse of your information.
                </li>
                <li>
                    How you can correct any inaccuracies in the information.
                </li>
            </ol>
            <h6>1. Information Collection, Use, and Sharing </h6>
            <p class="text-justify">
                HILSC is the sole owners of the information used or collected on this site. The HILSC only has access to/collect information that you 
                voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
            </p>
            <p class="text-justify">
                We will not share your information with any third party outside of our organization, 
                other than as necessary to fulfill any of your requests.
            </p>
            <p class="text-justify">
                When using our site, your IP address will be stored by our IT department. Your IP address is only used to 
                collect geographical data and isolate issues with our site that may be user dependent. Your identity and privacy are not, in anyway compromised.
            </p>
            <h6>2. Your Access to and Control Over Information</h6>
            <p class="text-justify">
                You can do the following at any time by contacting us via the email address or phone number given in section 4 of this policy:
            </p>
                <ul>
                    <li>
                        See what data we have about you, if any.
                    </li>
                    <li>
                        Change/correct any data we have about you.
                    </li>
                    <li>
                        Have us delete any data we have about you.
                    </li>
                    <li>
                        Express any concern you have about our use of your data.
                    </li>
                </ul>
            <h6>3. Security</h6>
            <p class="text-justify">
                We take precautions to protect your information. When you submit sensitive information via the website, 
                your information is protected both online and offline.
            </p>
            <p class="text-justify">
                While we use encryption to protect sensitive information transmitted online, we also protect your information offline. 
                Only employees who need the information to perform a specific job are granted access to personally identifiable information. 
                The computers/servers in which we store personally identifiable information are kept in a secure environment.
            </p>
            <h6>4. Redress</h6>
            <p class="text-justify"><b>
                If you feel that we are not abiding by this privacy policy, you should contact us 
                immediately via telephone at (832)-554-6295 or via email houimmihotline@gmail.com.
            </b></p>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>