<div class="container">
    <div class="row">
        <div class='col-4'></div>
        <h1 class="text-center col-4">Terms of Service</h1>
        <div class='col-4'></div>
    </div>
    <div class="row">
        <div class='col-md-1'></div>
        <div class='col-md-10 col-xs-12'>
            <p class="text-justify">
                This still needs to be written. 
            </p>
            <p>
                Statement includes that this information is only for the use of the volunteers for the HILSC. 
            </p>
        </div>
        <div class='col-md-1'></div>
    </div>