<div class="container">
    <div class="row">
        <div class='col-4'></div>
        <h1 class="text-center col-4">Terms of Service</h1>
        <div class='col-4'></div>
    </div>
    <div class="row">
        <div class='col-md-1'></div>
        <div class='col-md-10 col-xs-12'>
            <p class="text-justify">
                Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://hotlinescript.herokuapp.com/ website (the "Service") operated by Houston Immigration Legal Services Collaborative ("HILSC", "us", "we", or "our").
            </p>
            <p class="text-justify">
                Your access and use of the Service is considered acceptance of these Terms. These Terms apply to all visitors, users and others who access or use the Service.            
            </p>
            <p class="text-justify"><b>
                By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
            </b></p>
            <h6>Termination</h6>
            <p class="text-justify">
                We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
            </p>
            <p class="test-justify">
                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>
            <h6>Content</h6>
            <p class='text-justify'>
                Our Service allows Editors and Admins to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). Volunteer users do not have the ability to add or change any content on the site. HILSC is ultimately responsible for the quality of the information on this site. 
            </p>
            <h6>Links To Other Web Sites</h6>
            <p class="text-justify">
                Our Service may contain links to third-party web sites or services that are not owned or controlled by Houston Immigration Legal Services Collaborative.
            </p>
            <p class='text-justify'>
                Houston Immigration Legal Services Collaborative has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Houston Immigration Legal Services Collaborative shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            </p>
            <h6>Changes</h6>
            <p class='test-justify'>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>
            <h6>Contact Us</h6>
            <p class='text-justify'>
                If you have any questions about these Terms, please contact us - info@houstonimmigration.org. 
            </p>
        </div>
        <div class='col-md-1'></div>
    </div>