<div class="centered">
        <div class="permissions">
            <h1>Error 400: Bad Request</h1>
            <p>Hmm, that didn't work. Maybe try again. If the error persists, contact an admin.</p>
        </div>
    </div>