<div class="centered">
    <div class="permissions">
        <h1>Error 406: Not Acceptable</h1>
         <p>There seems to be some sort of formatting error.</p>
         <p>If the problem persists please contact the app administrator.</p>
    </div>
</div>