<div class="container">
    <div class="row">
        <div class="card-body">
            <h1 class="card-title">Error 406: Not Acceptable</h1>
            <p class="card-text">
                There seems to be some sort of formatting error.
                If the problem persists please contact the app administrator.
            </p>
        </div>
    </div>
</div>