<div class="container">
    <div class="row">
        <div class="card-body">
            <h1 class="card-title">>Error 422: Unprocessable Entity</h1>
            <p class="card-text">
                The request was well-formed but was unable to be followed due to semantic errors.If the problem persists please contact the app administrator.
            </p>
        </div>
    </div>
</div>