<div class="container">
    <div class="row">
        <div class="card-body">
            <h1 class="card-title">Error 500: Internal Server Error</h1>
            <p class="card-text">Whoops, something went wrong! If the problem persists please contact the app administrator.</p>
        </div>
    </div>
</div>
    