<div class="centered">
    <div class="permissions">
        <h1>Error 500: Internal Server Error</h1>            
        <p>Whoops, something went wrong!</p>
        <p>If the problem persists please contact the app administrator.</p>
    </div>
</div>
    