<h1>Invalid Activation Link</h1>
<p>You cannot create an account with this link because this account has already been created</p>

<p>If you need to reset your password you can do so <%= link_to "here.", "/password_reset" %></p>

<p>If you believe you have recieved this message in error, please contact a system admin</p>