* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header and Nav Items */

.logo {
    float: left;
    padding: 8px;
    margin-left: 50px;
}
.nav-item {
    padding: 8px;
    text-decoration: none;
    background-color: rgb(230, 71, 64);
    color: rgb(255, 255, 255);
    font-size: 32px;
}
.nav-item:hover {
    background-color: rgb(200, 71, 64)
}
.login {
    margin: 20px 8px;
    float: right;
}
nav {
    margin: 20px 8px;
    float:left;
}
header {
    background-color: rgb(230, 71, 64);
    min-height: 80px;
}

/* Body and Main Items */
body {
    height: 100vh;
}
main {
    margin: 0 5%;
    background-color: rgb(240, 240, 240);
    min-height: 100%;
}
/* Static Page Specific Elements */
#maintenance-post {
    margin-top: 100px;
}
#maintenance-post h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(60, 60, 60);
}
#maintenance-post p {
    margin-top: 40px;
    text-align: center;
    color: rgb(60, 60, 60);
}
.does-not-exist {
    border: 4px solid rgb(230, 71, 64);
    margin: auto;
    width: 800px;
    height: 400px;
    text-align: center;
}
.spacing {
    padding: 50px;
}
.does-not-exist h1 {
    margin: 60px 0;
    font-size: 64px;
    line-height: 20px;
}
/* User Model Specific Elements */
.signup-box {
    border: 2px solid rgb(200, 71, 64);
    margin: 20px;
    padding: 36px;
    float: left;
}
.permissions {
    border: 2px solid rgb(200, 71, 64);
    float: left;
    max-width: 600px;
    min-height: 300px;
    margin: 60px 20px;
}
.permissions h1 {
    background-color: rgb(230, 71, 64);
    color: white;
    padding: 12px;
    font-size: 36px;
}
.permissions p {
    padding: 12px;
    font-size: 24px;
}
.signup-box-element {
    display: block;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    margin: 8px 0;
    border-radius: 15px;
    border-style: none;
}
.signup-box h1 {
    margin: 18px 0;
    text-align: center;
    font-size: 48px;
}
.btn-submit {
    background-color: rgb(230, 71, 64);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 30px;
    min-width: 60px;
    border-style: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.btn-submit:hover {
    background-color: rgb(200, 71, 64);
}
.linkage:visited {
    text-decoration: none;
    color: blue;
}
.profile-td {
    padding: 4px;
}
.profile-title {
    font-size: 48px;
    margin: 24px 12px;
}
.link-btns {
    margin: 12px 0;
}
.btns {
    margin: 10px;
    padding: 8px;
    background-color: rgb(230, 71, 64);
    color: white;
    text-decoration: none;
}
.btns:visited {
    color: white;
}
.btns:hover {
    background-color: (rgb(200, 71, 64))
}
.user-list-table {
    padding: 4px;
}

.user-list-title {
    font-size: 48px;
}
.user-list-table-row {
    line-height: 28px;
}
.alert {
    display: inline-block;
}
.alert alert-failure {
    color: red;
}


/* Harvey FAQ Eleents */
#faq-info {
    margin: 36px 10px;
}
.article-title h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.qaa-box {
    margin: 12px 10px;
}
.qaa-title {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(150, 150, 150);
    margin-top: 12px;
    padding: 4px 10px;
}
.qaa-title:hover {
    background-color: rgb(175, 175, 175);
}
.qaa-box p {
    padding: 4px 10px;
    border: 2px solid rgb(200, 200, 200);
}
.answers-box a:visited {
    text-decoration: none;
    color: blue;
}
.html-key {
    display: none;
}
.plus-img {
    margin: 4px 4px 0 0;
}
.minus-img {
    margin: 4px 4px 0 0;
    display: none;
}
.post-title {
    font-size: 24px;
    margin: 36px 0;
    min-width: 80%;
}
.post-body {
    min-height: 600px;
}
.edit-button {
    text-decoration: none;
    color: blue;
}
.edit-button a:visited {
    text-decoration: none;
    color: blue;
}