html{
   height:100vh;
}
body {
  height: 100vh;
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
}
main {
  min-height:calc(100vh - 70px);
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }
  a {
    color: #0074d9;
  }
$theme-colors: (
  "primary": #e64740,
  "secondary": #2d70c5,
  "light": #f4f4f4,
  "dark": #3c3c3c,
  "custom-color": #e64740
);
.my-klass:hover {
  background-color: #e9e9e9;
}
@import "bootstrap";