* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    color: rgb(45, 112, 197);
}

/* Header and Nav Items */

.logo {
    float: left;
    padding: 8px;
    margin-left: 50px;
}
.logo:hover {
    background-color: rgb(200, 71, 64)
}
.nav-item {
    padding: 8px;
    text-decoration: none;
    background-color: rgb(230, 71, 64);
    color: rgb(255, 255, 255);
    font-size: 32px;
}
.nav-item:hover {
    background-color: rgb(200, 71, 64)
}
.login {
    margin: 20px 8px;
    float: right;
}
nav {
    margin: 1.25em 4em;
    display:inline-block;
}
header {
    background-color: rgb(230, 71, 64);
    min-height: 80px;
}

/* Body and Main Items */
.notice {
    text-align: center;
    padding: 1em;
    background-color: pink;
    color: red;
    font-size: 18px;
}
body {
    height: 100vh;
}
main {
    margin: 0 5%;
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    padding: 2em;
}
.success {
    background-color: lightgreen;
    text-align: center;
    padding: 1em;
    color: green;
}
/* Static Page Specific Elements */
#maintenance-post {
    margin-top: 100px;
}
#maintenance-post h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(60, 60, 60);
}
#maintenance-post p {
    margin-top: 40px;
    text-align: center;
    color: rgb(60, 60, 60);
}
.does-not-exist {
    border: 4px solid rgb(230, 71, 64);
    margin: auto;
    width: 800px;
    height: 400px;
    text-align: center;
}
.spacing {
    padding: 50px;
}
.does-not-exist h1 {
    margin: 60px 0;
    font-size: 64px;
    line-height: 20px;
}
.centered {
    display: block;
    width: 60%;
    margin: auto;
}
/* Sections Model and Controller Elements */
.grid {
    border: solid rgb(45, 112, 197) px;
    display: table;
    margin: 0;
    width: 100%;
    height: 100%;
}
#border-effect {
    border: solid rgb(230, 71, 64) 1em;
    border-radius: 25px;
    width: 90%;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.new-section-btn {
    display: inline-block;
    margin-left: 5%;
    padding: 4px;
}
.script-h1 {
    text-align: center;
}
#sidebar-menu {
    width: 20%;
    display: table-cell;
    height: 100%;
}
#script-area {
    padding: 12px;
    display: table-cell;
    border-left: 1px solid black;
    height: 100%;
}
#script-area .edit-button {
    float: right;
    color: rgb(45, 112, 197);
    padding: 0.25em;
}
#script-area .edit-button:hover {
    background-color: grey;
}
li {
    margin: 0 0 0 20px;
    list-style: none;
}
#sidebar-menu h4 {
    margin: auto;
    padding: 1em 1em 0 1em;
}
#sidebar-menu {
    overflow: scroll;
}
.sidebar-links {
    font-size: 12px;
    text-decoration: none;
    padding: 0.1em;
    color: rgb(45, 112, 197);
}
.sidebar-links:hover {
    background-color: grey;
}
/* Hotlinks */
#hotlinks {
    display: table-cell;
    width: 15%;
    border-left: 1px solid black;
    height: 100%;
    padding: 0.25em;
}

/* User Model Specific Elements */
.signup-box {
    border: 2px solid rgb(200, 71, 64);
    margin: 20px;
    padding: 36px;
    float: left;
}
.permissions {
    border: 2px solid rgb(200, 71, 64);
    display: inline-block;
    max-width: 500px;
    margin: auto;
    margin-top: 2em;
}
.permissions h1 {
    background-color: rgb(230, 71, 64);
    color: white;
    padding: 12px;
    font-size: 36px;
}
.permissions p {
    padding: 12px;
    font-size: 24px;
}
.signup-box-element {
    display: block;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    margin: 8px 0;
    border-radius: 15px;
    border-style: none;
}
.signup-box h1 {
    margin: 18px 0;
    text-align: center;
    font-size: 48px;
}
.btn-submit {
    background-color: rgb(230, 71, 64);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 30px;
    min-width: 60px;
    border-style: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.btn-submit:hover {
    background-color: rgb(200, 71, 64);
}
.linkage:visited {
    text-decoration: none;
    color: blue;
}
.profile-td {
    padding: 4px;
}
.profile-title {
    font-size: 48px;
    margin: 24px 12px;
}
.link-btns {
    margin: 12px 0;
}
.btns {
    margin: 10px;
    padding: 8px;
    background-color: rgb(230, 71, 64);
    color: white;
    text-decoration: none;
    border-style: none;
}
.btns:visited {
    color: white;
}
.btns:hover {
    background-color: (rgb(200, 71, 64))
}
.user-list-table {
    padding: 4px;
}

.user-list-title {
    font-size: 48px;
}
.user-list-table-row {
    line-height: 28px;
}
.alert {
    display: inline-block;
}
.alert alert-failure {
    color: red;
}
.select-btn {
    padding: 5px;
    font-size: 30px;
    min-width: 60px;
    line-height: 36px;
    border-radius: 15px;
    display: block;
    margin: 8px 0;

    /*I can't get anything to work here */
}


/* Harvey FAQ Eleents */
#faq-info {
    margin: 36px 10px;
}
.article-title h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.qaa-box {
    margin: 12px 10px;
}
.qaa-title {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(150, 150, 150);
    margin-top: 12px;
    padding: 4px 10px;
}
.qaa-title:hover {
    background-color: rgb(175, 175, 175);
}
.qaa-box p {
    padding: 4px 10px;
    border: 2px solid rgb(200, 200, 200);
}
.answers-box a:visited {
    text-decoration: none;
    color: blue;
}
.html-key {
    display: none;
}
.plus-img {
    margin: 4px 4px 0 0;
}
.minus-img {
    margin: 4px 4px 0 0;
    display: none;
}
.post-title {
    font-size: 24px;
    margin: 36px 0;
    min-width: 80%;
}
.post-body {
    min-height: 600px;
}
.edit-button {
    text-decoration: none;
    color: blue;
}
.edit-button a:visited {
    color: blue;
}
/* mailer model and controller */
#emails-index {
    padding: 1em;
}
#emails-index table td {
    padding: 6px;
}
#preview-email {
    margin: 2em;
    padding: 1em;
    border: 2px solid black;
}
#preview-email h1 {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid black;
}
#email-body {
    margin: 12px 24px;
}
#new-email {
    margin-top: 2em;
}