* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    color: rgb(45, 112, 197);
}

/* Header and Nav Items */

.logo {
    float: left;
    margin-left: 50px;
}
.logo:hover {
    background-color: rgb(200, 71, 64)
}
.nav-item-div {
    display: inline-block;
}
.nav-item {
    display: inline-block;
    padding: 1px 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.nav-item:hover {
    background-color: rgb(200, 71, 64)
}
.login {
    margin: 10px 8px 0 0;
    float: right;
}
nav {
    margin: 0.8em;
    display:inline-block;
}
header {
    background-color: rgb(230, 71, 64);
}
.active-nav {
    background-color: rgb(210, 71, 64);
}
.active-nav + .nav-item {
    text-decoration: underline;
}

/* Body and Main Items */
.notice {
    text-align: center;
    padding: 1em;
    background-color: pink;
    color: red;
    font-size: 18px;
}
body {
    height: 100vh;
    background-color: #F4F4F4;
}
main {
    min-height: 100%;
    padding: 1em;
}
.success {
    background-color: lightgreen;
    text-align: center;
    padding: 1em;
    color: green;
}
/* Static Page Specific Elements */
#maintenance-post {
    margin-top: 100px;
}
#maintenance-post h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(60, 60, 60);
}
#maintenance-post p {
    margin-top: 40px;
    text-align: center;
    color: rgb(60, 60, 60);
}
.does-not-exist {
    border: 4px solid rgb(230, 71, 64);
    margin: auto;
    width: 800px;
    height: 400px;
    text-align: center;
}
.spacing {
    padding: 50px;
}
.does-not-exist h1 {
    margin: 60px 0;
    font-size: 64px;
    line-height: 20px;
}
.centered {
    display: block;
    width: 60%;
    margin: auto;
}
/* Sections Model and Controller Elements */
.grid {
    border: solid rgb(45, 112, 197) px;
    display: table;
    margin: 0;
    width: 100%;
    height: 100%;
}
#border-effect {
    border: solid rgb(230, 71, 64) 1em;
    border-radius: 25px;
    width: 90%;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.new-section-btn {
    display: inline-block;
    margin-left: 5%;
    padding: 4px;
}
.script-h1 {
    text-align: center;
}
#sidebar-menu {
    width: 20%;
    display: table-cell;
    height: 100%;
}
#script-area {
    padding: 12px;
    display: table-cell;
    border-left: 1px solid black;
    height: 100%;
}
#script-area .edit-button {
    float: right;
    color: rgb(45, 112, 197);
    padding: 0.25em;
}
#script-area .edit-button:hover {
    background-color: grey;
}
#sidebar-menu h4 {
    margin: auto;
    padding: 1em 1em 0 1em;
}
#sidebar-menu {
    overflow: scroll;
}
.sidebar-links {
    font-size: 12px;
    text-decoration: none;
    padding: 0.1em;
    color: rgb(45, 112, 197);
}
.sidebar-links:hover {
    background-color: grey;
}
/* Hotlinks */
#hotlinks {
    display: table-cell;
    width: 15%;
    border-left: 1px solid black;
    height: 100%;
    padding: 0.25em;
}

/* User Model Specific Elements */
.signup-box {
    border: 2px solid rgb(200, 71, 64);
    margin: 20px;
    padding: 36px;
    float: left;
}
.permissions {
    border: 2px solid rgb(200, 71, 64);
    display: inline-block;
    max-width: 500px;
    margin: auto;
    margin-top: 2em;
}
.permissions h1 {
    background-color: rgb(230, 71, 64);
    color: white;
    padding: 12px;
    font-size: 36px;
}
.permissions p {
    padding: 12px;
    font-size: 24px;
}
.signup-box-element {
    display: block;
    line-height: 36px;
    font-size: 30px;
    text-align: center;
    margin: 8px 0;
    border-radius: 15px;
    border-style: none;
}
.signup-box h1 {
    margin: 18px 0;
    text-align: center;
    font-size: 48px;
}
.btn-submit {
    background-color: rgb(230, 71, 64);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 30px;
    min-width: 60px;
    border-style: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.btn-submit:hover {
    background-color: rgb(200, 71, 64);
}
.linkage:visited {
    text-decoration: none;
    color: blue;
}
.profile-td {
    padding: 4px;
}
.profile-title {
    font-size: 48px;
    margin: 24px 12px;
}
.link-btns {
    margin: 12px 0;
}
.btns {
    display: inline-block;
    margin: 10px;
    padding: 8px;
    background-color: rgb(230, 71, 64);
    color: white;
    text-decoration: none;
    border-style: none;
}
.btns:visited {
    color: white;
}
.btns:hover {
    background-color: (rgb(200, 71, 64))
}
.user-list-table {
    padding: 4px;
}

.user-list-title {
    font-size: 48px;
}
.user-list-table-row {
    line-height: 28px;
}
.alert {
    display: inline-block;
}
.alert alert-failure {
    color: red;
}
.select-btn {
    padding: 5px;
    font-size: 30px;
    min-width: 60px;
    line-height: 36px;
    border-radius: 15px;
    display: block;
    margin: 8px 0;

    /*I can't get anything to work here */
}


/* Harvey FAQ Eleents */
#faq-info {
    margin: 36px 10px;
}
.article-title h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.qaa-box {
    margin: 12px 10px;
}
.qaa-title {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(150, 150, 150);
    margin-top: 12px;
    padding: 4px 10px;
}
.qaa-title:hover {
    background-color: rgb(175, 175, 175);
}
.qaa-box p {
    padding: 4px 10px;
    border: 2px solid rgb(200, 200, 200);
}
.answers-box a:visited {
    text-decoration: none;
    color: blue;
}
.html-key {
    display: none;
}
.plus-img {
    margin: 4px 4px 0 0;
}
.minus-img {
    margin: 4px 4px 0 0;
    display: none;
}
.post-title {
    font-size: 24px;
    margin: 36px 0;
    min-width: 80%;
}
.post-body {
    min-height: 600px;
}
.edit-button {
    text-decoration: none;
    color: rgb(45, 112, 197)
}
.edit-button a:visited {
    color: rgb(45, 112, 197)
}
/* mailer model and controller */
#emails-index {
    padding: 1em;
}
#emails-index table td {
    padding: 6px;
}
#preview-email {
    margin: 2em;
    padding: 1em;
    border: 2px solid black;
}
#preview-email h1 {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid black;
}
#email-body {
    margin: 12px 24px;
}
#new-email {
    margin-top: 2em;
}
/* Instructions Page */
#instructions h1 {
    margin: 12px;
}
#instructions p {
    padding: 16px;
}
/* Tracking */
#tracking {
    text-align: center;
}
/* TOPICS */
#topics-page{
    display: table;
    margin: 0;
}
#topics-sidebar {
    height: 100%;
    display: table-cell;
    width: 18%;
}
#border-down {
    display: table-cell;
    border-right: 1px solid black;
    height: 100vh;
}
#topics-area {
    height: 100%;
}
.new-topic-form {
    display: inline-block;
}
.cancel {
    padding: 3.75px;
    display: inline-block;
}
#new-topic {
    display: block;
    padding: 4px;
}
#topics-hotlinks {
    position: fixed;
    top: 25%;
    right: 0;
    display: inline-block;
    border:1px solid rgb(45, 112, 197);
    padding: 5px;
    width: 18%;
}
.section-menu {
    margin-left: 1em;
}
#topics-area h1 {
    text-align: center;
    padding: 0.5em 0;
    width: 75%;
}
#line-across {
    border-bottom: 1px solid black;
}
.edit-button {
    float: right;
    margin: 2px;
    margin-right: 20%;
}
.edit-buttons {
    display: inline;
    margin: 0;
}
.topics-sections {
    padding: 1.5em;
    display: inline-block;
    width: 75%;
    border-bottom: 1px solid black;
}
.topics-sections h2 {
    margin: 0.5em 0;
    display: inline-block;
}
.section-form {
    padding: 1em;
}
#instructions {
    padding: 2em;
}
#instructions h1 {
    text-align: center;
}
#instructions p {
    padding: 0 4em;
    line-height: 1.25em;
}
#topics-sidebar ul li {
    list-style: disc;
}
.micro-section {
    margin-left: 20px;
}
.topic-selector {
    font-size: 12px;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px 0;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
/* Referrals */
#reminder {
    text-align: center;
    font-size: larger;
    padding: 1em;
    border: 1px solid grey;
    background-color: lightgrey;
}
.reminder-form {
    height: 40px;
    width: 100%;
    font-size: x-large;
}
.reminder-submit {
    display: block;
}
#categories {
    font-size: larger;
    text-align: center;
    padding: 0 1em;
}
#referral-area {
    display: table;
}
#referral-titles {
    display: table-cell;
    width: 15%;
    border: 1px solid grey;
    padding: 0 0.5em;
    background-color: lightgrey;
}
#referral-content {
    display: table-cell;
    width: 70%;
    padding: 1.5em;
}
#referral-content h1 {
    display: inline;
    margin: 0 1em 2em 0;
}
#referral-content p {
    margin-top: 1em;
}
#referral-side-buttons {
    display: table-cell;
    width: 15%;
}
.referral-selector {
    font-size: 12px;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px 0 20px 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
.topic-links-div {
    padding: 0.25em;
}
.topic-link {
    font-size: large;
    color: black; 
    text-decoration: none;
    font-weight: bold;
}
.topic-link:hover {
    border-radius: 5px;
    background-color: lightgrey;
}
.topic-active {
    text-decoration: underline;

}
.topic-section-link {
    color: black;
    text-decoration: none;
}
.last-edit {
    font-size: smaller;
    font-style: italic;
}
#ref-title {
    text-align: center;
    padding: 15px;
}

