// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.does-not-exist {
    background-color: rgb(230, 71, 64);
    margin: auto;
    float: left;
    text-align: center;
    color: rgb(255, 255, 255);
}