<h1>Custom Emails</h1>
<p>Here are all the email templates that may be used.</p>
<%= link_to "New Email Template", new_email_path %>
<% if @emails.nil? || @emails.blank? || @emails.empty? %>
    <p>There are no emails, why don't you add one?</p>
<% else %>
    <ul>
        <% @emails.each do |email| %>
            <li><%= link_to email.subject, email_path(email) %> <%= link_to "[delete]", email_path(email), remote: true, method: :delete, data: { confirm: "Are you sure?"} %> </li>
        <% end %>
    </ul>
<% end %>


